<div class="row mt-3">
  <div class="col-6">
    <button type="button" class="btn btn-primary" [routerLink]="['edit']">
      <fa name="edit"></fa>
      Edit
    </button>
  </div>
  <div class="col-6">
    <button class="btn btn-danger float-right" (click)="onDeleteContact()"><fa name="trash"></fa>
      Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12" *ngIf="contact !== undefined">

    <h1>{{ contact.firstName + " " + contact.lastName }}</h1>

    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>
    <p>Born Date: {{ contact.bornDate }}</p>
     <p>CPF: {{ contact.cpf }}</p>

    <hr>
    <h4>Addresses</h4>
    <div *ngFor="let address of contact.addresses">
      <p>{{ address.publicPlace }} - {{ address.number }} - {{ address.complement }}</p>
      <p>{{ address.city }} - {{ address.state }} - {{ address.postalCode }}</p>

      <hr>
    </div>

  </div>
</div>
