<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Registration</h3>
          <div class="card-text">

            <form (ngSubmit)="onSignUp(f)" #f="ngForm">
              <div class="form-group">
                <input class="form-control" name="username" ngModel id="username" placeholder="Username" required>
              </div>

              <div class="form-group">
                <input
                  type="password" id="password"
                  placeholder="Password" ngModel class="form-control" name="password" required/>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid">Register</button>
              </div>
            </form>
            <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ errorMessage }}
              <button type="button" class="close" (click)="error=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
